# Identifiants de l'application Francetravail.io
CLIENT_ID=
SECRET_ID=

# Clés API INSEE
X-INSEE-Api-Key-Integration=

# Configuration de la base de données PostgreSQL
DATABASE_NAME=observia_emploi_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=

# Configuration du JWT
ACCESS_TOKEN_EXPIRE_MINUTES=
SECRET_KEY=
ALGORITHM=

# Identifiants de l'administrateur créé automatiquement
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword